{
  "openapi": "3.1.0",
  "info": {
    "title": "SiteQwality API",
    "description": "Public REST API for SiteQwality — uptime monitoring, observability, incidents, and status pages.",
    "contact": {
      "name": "SiteQwality Support",
      "url": "https://siteqwality.com",
      "email": "support@siteqwality.com"
    },
    "license": {
      "name": "Proprietary"
    },
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://api.siteqwality.com",
      "description": "Production"
    }
  ],
  "paths": {
    "/account/api_key/": {
      "get": {
        "tags": [
          "API Keys"
        ],
        "summary": "List API keys for the authenticated account.",
        "operationId": "list_api_keys",
        "responses": {
          "200": {
            "description": "API keys"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "post": {
        "tags": [
          "API Keys"
        ],
        "summary": "Create a new API key for the authenticated account.",
        "operationId": "create_api_key",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateApiKeyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Newly minted API key (only returned once)"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/account/api_key/{api_key_id}": {
      "delete": {
        "tags": [
          "API Keys"
        ],
        "summary": "Delete an API key.",
        "operationId": "delete_api_key",
        "parameters": [
          {
            "name": "api_key_id",
            "in": "path",
            "description": "API key identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "API key deleted"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "404": {
            "description": "API key not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/account/auth": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Check whether the caller's bearer token is still valid.",
        "operationId": "auth_request",
        "responses": {
          "200": {
            "description": "Token is valid"
          },
          "401": {
            "description": "Missing or invalid authentication"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/account/contact_support": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Email the SiteQwality support team on behalf of the authenticated user.",
        "operationId": "contact_support",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactSupportRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Support email sent"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/account/create_customer_portal_session": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Create a customer portal session\nhttps://stripe.com/docs/customer-management/integrate-customer-portal\nCreate a Stripe customer portal session URL.",
        "operationId": "create_customer_portal_session",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PortalSessionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Customer portal session URL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PortalSession"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "403": {
            "description": "Caller is not an owner"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/account/delete_user/{delete_user_id}": {
      "delete": {
        "tags": [
          "Account"
        ],
        "summary": "Remove a user from the authenticated account.",
        "operationId": "delete_user",
        "parameters": [
          {
            "name": "delete_user_id",
            "in": "path",
            "description": "Identifier of the user to remove",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User removed"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "404": {
            "description": "User not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/account/delete_user_invite/{invite_id}": {
      "delete": {
        "tags": [
          "Account"
        ],
        "summary": "Cancel a pending user invitation.",
        "operationId": "delete_user_invite",
        "parameters": [
          {
            "name": "invite_id",
            "in": "path",
            "description": "Pending invite identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Invite cancelled"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "404": {
            "description": "Invite not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/account/edit_user": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Edit a user's profile (currently just name).",
        "operationId": "edit_user",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditUserRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "User updated"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "404": {
            "description": "User not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/account/info": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get the authenticated account's profile, usage, plan, and feature access.",
        "operationId": "account_info",
        "responses": {
          "200": {
            "description": "Account info"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/account/invite_user": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Invite a user to join the authenticated account.",
        "operationId": "invite_user",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddUserRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "User invitation sent"
          },
          "400": {
            "description": "Invalid email"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/account/update": {
      "put": {
        "tags": [
          "Account"
        ],
        "summary": "Update account-level settings (e.g., preferred timezone).",
        "operationId": "update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAccountRequestHandler"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Account updated"
          },
          "400": {
            "description": "Invalid request body"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/auth/refresh": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Refresh a Stytch session token, returning a new session_token and a fresh session_jwt.",
        "description": "The session_jwt has a short TTL (5 min); the session_token is used to refresh it.\nThis endpoint does not require bearer-token auth — the session_token is in the request body.",
        "operationId": "auth_refresh",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefreshRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Session refreshed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefreshResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or expired session token"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/billing/change-plan": {
      "post": {
        "tags": [
          "Billing"
        ],
        "summary": "Change subscription plan/quantity for a product.",
        "operationId": "change_plan",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangePlanRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Plan changed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChangePlanResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid billing interval"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "403": {
            "description": "Caller is not an owner"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/billing/features": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "List all paid-plan features and whether the account has access to each.",
        "operationId": "get_features",
        "responses": {
          "200": {
            "description": "Feature access list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeaturesListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/billing/plans": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "List all active billing plans (public endpoint).",
        "operationId": "get_plans",
        "responses": {
          "200": {
            "description": "Active billing plans",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlansResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/billing/subscriptions": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "List active subscriptions for the account.",
        "operationId": "get_subscriptions",
        "responses": {
          "200": {
            "description": "Active subscriptions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubscriptionsListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/billing/usage": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "Get current billing-period usage counters by product.",
        "operationId": "get_usage",
        "responses": {
          "200": {
            "description": "Usage counters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountUsageResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/browser_check/": {
      "get": {
        "tags": [
          "Browser Monitors"
        ],
        "summary": "List browser monitors for the authenticated account.",
        "operationId": "list_browser_checks",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Page size (max 50)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Page offset",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Page of browser monitors"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Browser Monitors"
        ],
        "summary": "Create a synthetic browser monitor.",
        "operationId": "create_browser_check",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBrowserCheckRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Browser monitor created"
          },
          "400": {
            "description": "Invalid request body"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/browser_check/{check_id}": {
      "get": {
        "tags": [
          "Browser Monitors"
        ],
        "summary": "Get a browser monitor by ID.",
        "operationId": "get_browser_check",
        "parameters": [
          {
            "name": "check_id",
            "in": "path",
            "description": "Browser monitor identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Browser monitor"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "404": {
            "description": "Browser monitor not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Browser Monitors"
        ],
        "summary": "Update a browser monitor.",
        "operationId": "update_browser_check",
        "parameters": [
          {
            "name": "check_id",
            "in": "path",
            "description": "Browser monitor identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBrowserCheckRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Browser monitor updated"
          },
          "400": {
            "description": "Invalid request body"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "404": {
            "description": "Browser monitor not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Browser Monitors"
        ],
        "summary": "Delete a browser monitor.",
        "operationId": "delete_browser_check",
        "parameters": [
          {
            "name": "check_id",
            "in": "path",
            "description": "Browser monitor identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Browser monitor deleted"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "404": {
            "description": "Browser monitor not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/browser_check/{check_id}/results": {
      "get": {
        "tags": [
          "Browser Monitors"
        ],
        "summary": "List recent run results for a browser monitor.",
        "operationId": "list_browser_check_results",
        "parameters": [
          {
            "name": "check_id",
            "in": "path",
            "description": "Browser monitor identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Page size",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Page offset",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Browser run results"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/browser_check/{check_id}/results/{result_id}/artifact_url": {
      "get": {
        "tags": [
          "Browser Monitors"
        ],
        "summary": "Generate a pre-signed S3 URL for a browser run artifact (HAR or video).",
        "operationId": "get_browser_check_artifact_url",
        "parameters": [
          {
            "name": "check_id",
            "in": "path",
            "description": "Browser monitor identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "result_id",
            "in": "path",
            "description": "Browser run result identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "artifact_type",
            "in": "query",
            "description": "One of: har, video, screenshot",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "screenshot_index",
            "in": "query",
            "description": "Screenshot index when artifact_type is screenshot",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Pre-signed URL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArtifactUrlResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "404": {
            "description": "Result or artifact not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/browser_check/{check_id}/run": {
      "post": {
        "tags": [
          "Browser Monitors"
        ],
        "summary": "Trigger an immediate run of a browser monitor across its configured regions.",
        "operationId": "run_browser_check_now",
        "parameters": [
          {
            "name": "check_id",
            "in": "path",
            "description": "Browser monitor identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Run started",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunNowResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "404": {
            "description": "Browser monitor not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/browser_check/{check_id}/vitals": {
      "get": {
        "tags": [
          "Browser Monitors"
        ],
        "summary": "Get trending Web Vitals for a browser monitor.",
        "operationId": "get_browser_check_vitals",
        "parameters": [
          {
            "name": "check_id",
            "in": "path",
            "description": "Browser monitor identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "region",
            "in": "query",
            "description": "Filter by region",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hours",
            "in": "query",
            "description": "Lookback window in hours (default 24)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Time-bucketed Web Vitals trends"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "404": {
            "description": "Browser monitor not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/cron/job": {
      "post": {
        "tags": [
          "Heartbeat Monitors"
        ],
        "summary": "Create a heartbeat (cron) monitor.",
        "operationId": "create_cron_job",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCronJobRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Heartbeat monitor created"
          },
          "400": {
            "description": "Invalid request body"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/cron/job/{cron_job_id}": {
      "get": {
        "tags": [
          "Heartbeat Monitors"
        ],
        "summary": "Get a heartbeat (cron) monitor by ID.",
        "operationId": "get_cron_job",
        "parameters": [
          {
            "name": "cron_job_id",
            "in": "path",
            "description": "Heartbeat monitor identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Heartbeat monitor"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "404": {
            "description": "Heartbeat monitor not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Heartbeat Monitors"
        ],
        "summary": "Update a heartbeat (cron) monitor.",
        "operationId": "update_cron_job",
        "parameters": [
          {
            "name": "cron_job_id",
            "in": "path",
            "description": "Heartbeat monitor identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCronJobRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Heartbeat monitor updated"
          },
          "400": {
            "description": "Invalid request body"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "404": {
            "description": "Heartbeat monitor not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Heartbeat Monitors"
        ],
        "summary": "Delete a heartbeat (cron) monitor.",
        "operationId": "delete_cron_job",
        "parameters": [
          {
            "name": "cron_job_id",
            "in": "path",
            "description": "Heartbeat monitor identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Heartbeat monitor deleted"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "404": {
            "description": "Heartbeat monitor not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/cron/job/{job_id}/events": {
      "get": {
        "tags": [
          "Heartbeat Monitors"
        ],
        "summary": "List status-transition events for a heartbeat (cron) monitor.",
        "operationId": "list_cron_job_events",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "description": "Heartbeat monitor identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Page size (max 500)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Page offset",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Page of state-transition events"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/cron/job/{job_id}/recent": {
      "get": {
        "tags": [
          "Heartbeat Monitors"
        ],
        "summary": "List recently received heartbeats for a cron monitor.",
        "operationId": "list_recent_received",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "description": "Heartbeat monitor identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recently received heartbeats"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/cron/job/{job_id}/uptime_percentage": {
      "get": {
        "tags": [
          "Heartbeat Monitors"
        ],
        "summary": "Get the uptime percentage for a heartbeat (cron) monitor.",
        "operationId": "get_cron_uptime_percentage",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "description": "Heartbeat monitor identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Page size",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Page offset",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Uptime percentage",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CronJobUptimePercentage"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "404": {
            "description": "Heartbeat monitor not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/cron/jobs": {
      "get": {
        "tags": [
          "Heartbeat Monitors"
        ],
        "summary": "List heartbeat monitors for the authenticated account.",
        "operationId": "list_cron_jobs",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Page size",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Page offset",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by status",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "Filter by state",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "text",
            "in": "query",
            "description": "Free-text search filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Page of heartbeat monitors"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/dashboard/": {
      "get": {
        "tags": [
          "Dashboards"
        ],
        "summary": "List dashboards for the account.",
        "operationId": "list_dashboards",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Page size",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Page offset",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Page of dashboards"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Dashboards"
        ],
        "summary": "Create a dashboard.",
        "operationId": "create_dashboard",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDashboardRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Dashboard created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dashboard"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/dashboard/{dashboard_id}": {
      "get": {
        "tags": [
          "Dashboards"
        ],
        "summary": "Get a dashboard by ID with widgets.",
        "operationId": "get_dashboard",
        "parameters": [
          {
            "name": "dashboard_id",
            "in": "path",
            "description": "Dashboard identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dashboard with widgets",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dashboard"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "404": {
            "description": "Dashboard not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Dashboards"
        ],
        "summary": "Update a dashboard's metadata.",
        "operationId": "update_dashboard",
        "parameters": [
          {
            "name": "dashboard_id",
            "in": "path",
            "description": "Dashboard identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDashboardRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Dashboard updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dashboard"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "404": {
            "description": "Dashboard not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Dashboards"
        ],
        "summary": "Delete a dashboard.",
        "operationId": "delete_dashboard",
        "parameters": [
          {
            "name": "dashboard_id",
            "in": "path",
            "description": "Dashboard identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dashboard deleted"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "404": {
            "description": "Dashboard not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/dashboard/{dashboard_id}/layout": {
      "put": {
        "tags": [
          "Dashboards"
        ],
        "summary": "Batch-update widget layout positions on a dashboard.",
        "operationId": "batch_update_layout",
        "parameters": [
          {
            "name": "dashboard_id",
            "in": "path",
            "description": "Dashboard identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/WidgetLayoutItem"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Layouts updated"
          },
          "400": {
            "description": "Too many widgets in request"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/dashboard/{dashboard_id}/widget/": {
      "post": {
        "tags": [
          "Dashboards"
        ],
        "summary": "Add a widget to a dashboard.",
        "operationId": "create_widget",
        "parameters": [
          {
            "name": "dashboard_id",
            "in": "path",
            "description": "Dashboard identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWidgetRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Widget created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardWidget"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "404": {
            "description": "Dashboard not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/dashboard/{dashboard_id}/widget/{widget_id}": {
      "put": {
        "tags": [
          "Dashboards"
        ],
        "summary": "Update a widget on a dashboard.",
        "operationId": "update_widget",
        "parameters": [
          {
            "name": "dashboard_id",
            "in": "path",
            "description": "Dashboard identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "widget_id",
            "in": "path",
            "description": "Widget identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWidgetRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Widget updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardWidget"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "404": {
            "description": "Widget not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Dashboards"
        ],
        "summary": "Delete a widget from a dashboard.",
        "operationId": "delete_widget",
        "parameters": [
          {
            "name": "dashboard_id",
            "in": "path",
            "description": "Dashboard identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "widget_id",
            "in": "path",
            "description": "Widget identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Widget deleted"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "404": {
            "description": "Widget not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/dns/job/{dns_job_id}": {
      "get": {
        "tags": [
          "DNS Monitors"
        ],
        "summary": "Get a DNS monitor.",
        "operationId": "get_dns_job",
        "parameters": [
          {
            "name": "dns_job_id",
            "in": "path",
            "description": "DNS monitor identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "DNS monitor retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DnsJob"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "404": {
            "description": "DNS monitor not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/dns/job/{dns_job_id}/recent": {
      "get": {
        "tags": [
          "DNS Monitors"
        ],
        "summary": "Get the most recent DNS check result.",
        "operationId": "recent_dns_job",
        "parameters": [
          {
            "name": "dns_job_id",
            "in": "path",
            "description": "DNS monitor identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Latest DNS check result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DnsJobResult"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "404": {
            "description": "No DNS results found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/escalation_policy/": {
      "get": {
        "tags": [
          "Escalation Policies"
        ],
        "summary": "List escalation policies for the account.",
        "operationId": "list_escalation_policies",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Page size",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Page offset",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Page of escalation policies"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Escalation Policies"
        ],
        "summary": "Create an escalation policy.",
        "operationId": "create_escalation_policy",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEscalationPolicyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Escalation policy created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EscalationPolicyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/escalation_policy/{policy_id}": {
      "get": {
        "tags": [
          "Escalation Policies"
        ],
        "summary": "Get an escalation policy by ID.",
        "operationId": "get_escalation_policy",
        "parameters": [
          {
            "name": "policy_id",
            "in": "path",
            "description": "Escalation policy identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Escalation policy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EscalationPolicyResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "404": {
            "description": "Policy not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Escalation Policies"
        ],
        "summary": "Update an escalation policy.",
        "operationId": "update_escalation_policy",
        "parameters": [
          {
            "name": "policy_id",
            "in": "path",
            "description": "Escalation policy identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateEscalationPolicyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Escalation policy updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EscalationPolicyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "404": {
            "description": "Policy not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Escalation Policies"
        ],
        "summary": "Delete an escalation policy.",
        "operationId": "delete_escalation_policy",
        "parameters": [
          {
            "name": "policy_id",
            "in": "path",
            "description": "Escalation policy identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Policy deleted"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "404": {
            "description": "Policy not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/escalation_policy/{policy_id}/level/": {
      "get": {
        "tags": [
          "Escalation Policies"
        ],
        "summary": "List the levels of an escalation policy in order.",
        "operationId": "list_escalation_policy_levels",
        "parameters": [
          {
            "name": "policy_id",
            "in": "path",
            "description": "Escalation policy identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ordered list of levels"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Escalation Policies"
        ],
        "summary": "Add a level to an escalation policy.",
        "operationId": "create_escalation_policy_level",
        "parameters": [
          {
            "name": "policy_id",
            "in": "path",
            "description": "Escalation policy identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEscalationPolicyLevelRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Level created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EscalationPolicyLevelResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/escalation_policy/{policy_id}/level/reorder": {
      "put": {
        "tags": [
          "Escalation Policies"
        ],
        "summary": "Reorder the levels of an escalation policy.",
        "operationId": "reorder_escalation_policy_levels",
        "parameters": [
          {
            "name": "policy_id",
            "in": "path",
            "description": "Escalation policy identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReorderEscalationPolicyLevelsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Levels reordered"
          },
          "400": {
            "description": "Invalid request body"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/escalation_policy/{policy_id}/level/{level_id}": {
      "delete": {
        "tags": [
          "Escalation Policies"
        ],
        "summary": "Delete a level from an escalation policy.",
        "operationId": "delete_escalation_policy_level",
        "parameters": [
          {
            "name": "policy_id",
            "in": "path",
            "description": "Escalation policy identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "level_id",
            "in": "path",
            "description": "Level identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Level deleted"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "404": {
            "description": "Level not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/healthcheck": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "Liveness probe.",
        "operationId": "healthcheck",
        "responses": {
          "200": {
            "description": "Service healthy"
          },
          "500": {
            "description": "Service unhealthy"
          }
        }
      }
    },
    "/http/job": {
      "post": {
        "tags": [
          "HTTP Monitors"
        ],
        "summary": "Create an HTTP monitor.",
        "description": "Creates a new HTTP check that runs on the specified schedule. Optionally\nalso provisions paired TLS, DNS, and page-speed monitors for the same URL.",
        "operationId": "create_http_job",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateHttpJobRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "HTTP monitor created"
          },
          "400": {
            "description": "Invalid request body or feature not available on plan"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "403": {
            "description": "Feature requires a paid plan"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/http/job/result/{job_result_id}/details": {
      "get": {
        "tags": [
          "HTTP Monitors"
        ],
        "summary": "Get details for a single HTTP check result.",
        "operationId": "http_job_result_details",
        "parameters": [
          {
            "name": "job_result_id",
            "in": "path",
            "description": "HTTP check result identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP check result details"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "404": {
            "description": "Result not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/http/job/{job_id}": {
      "get": {
        "tags": [
          "HTTP Monitors"
        ],
        "summary": "Get an HTTP monitor by ID.",
        "operationId": "get_http_job",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "description": "HTTP monitor identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP monitor"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "404": {
            "description": "HTTP monitor not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "put": {
        "tags": [
          "HTTP Monitors"
        ],
        "summary": "Update an HTTP monitor.",
        "operationId": "update_http_job",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "description": "HTTP monitor identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateHttpJobRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "HTTP monitor updated"
          },
          "400": {
            "description": "Invalid request body"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "403": {
            "description": "Feature requires a paid plan"
          },
          "404": {
            "description": "HTTP monitor not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "HTTP Monitors"
        ],
        "summary": "Delete an HTTP monitor (and its paired TLS, DNS, and page-speed monitors).",
        "operationId": "delete_http_job",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "description": "HTTP monitor identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "HTTP monitor deleted"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "404": {
            "description": "HTTP monitor not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/http/job/{job_id}/events": {
      "get": {
        "tags": [
          "HTTP Monitors"
        ],
        "summary": "List status-transition events for an HTTP monitor.",
        "operationId": "list_http_job_events",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "description": "HTTP monitor identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Page size (max 500)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Page offset",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Page of state-transition events"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/http/job/{job_id}/page_speed": {
      "get": {
        "tags": [
          "HTTP Monitors"
        ],
        "summary": "Get the latest page-speed scores for an HTTP monitor.",
        "operationId": "get_page_speed",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "description": "HTTP monitor identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Page-speed scores"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "404": {
            "description": "Page-speed monitor not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/http/job/{job_id}/page_speed/history": {
      "get": {
        "tags": [
          "HTTP Monitors"
        ],
        "summary": "Get historical page-speed run results for an HTTP monitor.",
        "operationId": "get_page_speed_history",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "description": "HTTP monitor identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Page size (max 100)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Page offset",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated page-speed history"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "404": {
            "description": "Page-speed monitor not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/http/job/{job_id}/performance": {
      "get": {
        "tags": [
          "HTTP Monitors"
        ],
        "summary": "Get aggregated response-time performance over a window for an HTTP monitor.",
        "operationId": "get_job_performance",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "description": "HTTP monitor identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "time_frame",
            "in": "query",
            "description": "One of: day, week, month, year",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "threshold",
            "in": "query",
            "description": "Threshold (ms) for slow-call bucketing",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Time-bucketed response-time series"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/http/job/{job_id}/recent": {
      "get": {
        "tags": [
          "HTTP Monitors"
        ],
        "summary": "List the most recent HTTP check response times for a monitor.",
        "operationId": "list_recent_checks",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "description": "HTTP monitor identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recent response-time samples"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/http/job/{job_id}/uptime_percentage": {
      "get": {
        "tags": [
          "HTTP Monitors"
        ],
        "summary": "Get the uptime percentage for an HTTP monitor.",
        "operationId": "get_http_uptime_percentage",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "description": "HTTP monitor identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Page size",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Page offset",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Uptime percentage",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpJobUptimePercentage"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "404": {
            "description": "HTTP monitor not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/http/jobs": {
      "get": {
        "tags": [
          "HTTP Monitors"
        ],
        "summary": "List HTTP monitors for the authenticated account.",
        "operationId": "list_http_jobs",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Page size (max 10)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Page offset",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sort_field",
            "in": "query",
            "description": "Field to sort by",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_order",
            "in": "query",
            "description": "Sort order: asc or desc",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by status",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "Filter by state",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "text",
            "in": "query",
            "description": "Free-text search filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tags",
            "in": "query",
            "description": "Filter by tags",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Page of HTTP monitors with account totals"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/http/tags": {
      "get": {
        "tags": [
          "HTTP Monitors"
        ],
        "summary": "List distinct HTTP monitor tags for the authenticated account.",
        "operationId": "get_tags",
        "responses": {
          "200": {
            "description": "Distinct tag list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/incident/": {
      "get": {
        "tags": [
          "Incidents"
        ],
        "summary": "List standalone (non-status-page) incidents for the account.",
        "operationId": "list_standalone_incidents",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Page size",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Page offset",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Page of incidents"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Incidents"
        ],
        "summary": "Create an incident.",
        "operationId": "create_incident",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateIncidentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Incident created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IncidentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/incident/{incident_id}": {
      "get": {
        "tags": [
          "Incidents"
        ],
        "summary": "Get a standalone (non-status-page) incident.",
        "operationId": "get_standalone_incident",
        "parameters": [
          {
            "name": "incident_id",
            "in": "path",
            "description": "Incident identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Incident",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IncidentResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "404": {
            "description": "Incident not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Incidents"
        ],
        "summary": "Update a standalone (non-status-page) incident.",
        "operationId": "update_standalone_incident",
        "parameters": [
          {
            "name": "incident_id",
            "in": "path",
            "description": "Incident identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateIncidentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Incident updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IncidentResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "404": {
            "description": "Incident not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Incidents"
        ],
        "summary": "Delete a standalone (non-status-page) incident.",
        "operationId": "delete_standalone_incident",
        "parameters": [
          {
            "name": "incident_id",
            "in": "path",
            "description": "Incident identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Incident deleted"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "404": {
            "description": "Incident not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/incident/{incident_id}/acknowledge": {
      "post": {
        "tags": [
          "Incidents"
        ],
        "summary": "Acknowledge an incident (responder takes ownership).",
        "operationId": "acknowledge_incident",
        "parameters": [
          {
            "name": "incident_id",
            "in": "path",
            "description": "Incident identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AcknowledgeIncidentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Incident acknowledged",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IncidentResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "404": {
            "description": "Incident not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/incident/{incident_id}/resolve": {
      "post": {
        "tags": [
          "Incidents"
        ],
        "summary": "Mark an incident as resolved.",
        "operationId": "resolve_incident",
        "parameters": [
          {
            "name": "incident_id",
            "in": "path",
            "description": "Incident identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Incident resolved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IncidentResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "404": {
            "description": "Incident not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/incident/{incident_id}/update": {
      "post": {
        "tags": [
          "Incidents"
        ],
        "summary": "Add an incident-update message to a standalone incident.",
        "operationId": "create_standalone_incident_update",
        "parameters": [
          {
            "name": "incident_id",
            "in": "path",
            "description": "Incident identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateIncidentUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Incident update added",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IncidentUpdateResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "404": {
            "description": "Incident not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/integration/": {
      "get": {
        "tags": [
          "Integrations"
        ],
        "summary": "List third-party integrations for the account.",
        "operationId": "list_integrations",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Page size",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Page offset",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Page of integrations"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/integration/discord/": {
      "post": {
        "tags": [
          "Integrations"
        ],
        "summary": "Add a Discord webhook integration.",
        "operationId": "add_discord_integration",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddDiscordIntegrationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Discord integration added"
          },
          "400": {
            "description": "Invalid request body"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/integration/microsoft_teams/": {
      "post": {
        "tags": [
          "Integrations"
        ],
        "summary": "Add a Microsoft Teams webhook integration.",
        "operationId": "add_microsoft_teams_integration",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddMicrosoftTeamsIntegrationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Teams integration added"
          },
          "400": {
            "description": "Invalid request body"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/integration/slack/": {
      "post": {
        "tags": [
          "Integrations"
        ],
        "summary": "Add a Slack integration via OAuth code exchange.",
        "operationId": "add_slack_integration",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddSlackIntegrationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Slack integration added"
          },
          "400": {
            "description": "Invalid request body or OAuth code"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/integration/telegram/": {
      "post": {
        "tags": [
          "Integrations"
        ],
        "summary": "Complete a Telegram integration setup using the setup code from /integration/telegram/start.",
        "operationId": "add_telegram_integration",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddTelegramIntegrationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Telegram integration added"
          },
          "400": {
            "description": "Invalid setup code or request body"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/integration/telegram/get_setup_state": {
      "get": {
        "tags": [
          "Integrations"
        ],
        "summary": "Poll the Telegram integration setup state by setup code.",
        "operationId": "get_telegram_setup_state",
        "parameters": [
          {
            "name": "setup_state_code",
            "in": "query",
            "description": "One-time setup code from /integration/telegram/start",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Setup state",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TelegramSetupState"
                }
              }
            }
          },
          "400": {
            "description": "Missing setup_state_code"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "404": {
            "description": "Setup state not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/integration/telegram/start": {
      "post": {
        "tags": [
          "Integrations"
        ],
        "summary": "Begin Telegram integration setup — issues a one-time setup code the user enters into the bot.",
        "operationId": "start_add_telegram_integration",
        "responses": {
          "200": {
            "description": "Telegram setup state created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TelegramSetupState"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/integration/webhook/": {
      "post": {
        "tags": [
          "Integrations"
        ],
        "summary": "Add a generic webhook integration.",
        "operationId": "add_webhook_integration",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddWebhookIntegrationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Webhook integration added"
          },
          "400": {
            "description": "Invalid request body"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/integration/{integration_id}": {
      "put": {
        "tags": [
          "Integrations"
        ],
        "summary": "Update an integration's friendly name.",
        "operationId": "update_integration",
        "parameters": [
          {
            "name": "integration_id",
            "in": "path",
            "description": "Integration identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateIntegrationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Integration updated"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "404": {
            "description": "Integration not found"
          },
          "500": {
[...]
