{
  "openapi": "3.1.0",
  "info": {
    "title": "SiteQwality API",
    "description": "Public REST API for SiteQwality: uptime monitoring, observability, incidents, and status pages.",
    "contact": {
      "name": "SiteQwality Support",
      "url": "https://siteqwality.com",
      "email": "support@siteqwality.com"
    },
    "license": {
      "name": "Proprietary"
    },
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://api.siteqwality.com",
      "description": "Production"
    }
  ],
  "paths": {
    "/.well-known/oauth-authorization-server": {
      "get": {
        "tags": [
          "M2M API Clients"
        ],
        "summary": "OAuth2 authorization server metadata (RFC 8414).",
        "operationId": "metadata",
        "responses": {
          "200": {
            "description": "Authorization server metadata",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthorizationServerMetadata"
                }
              }
            }
          }
        }
      }
    },
    "/account/api_key/": {
      "get": {
        "tags": [
          "API Keys"
        ],
        "summary": "List API keys for the authenticated account.",
        "description": "Secrets are never returned: only the stored prefix/suffix fragments, the\nkey type, any scopes, and the lifecycle timestamps. Revoked keys are\nomitted; expired ones are included so the customer can see why a key\nstopped working rather than watching it silently disappear.\n\nThe response stays a bare array, unchanged in shape from before hashing,\nso a dashboard build that predates this deploy still renders the list.",
        "operationId": "list_api_keys",
        "responses": {
          "200": {
            "description": "API keys, without secrets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiKeySummary"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "post": {
        "tags": [
          "API Keys"
        ],
        "summary": "Create a new API key for the authenticated account.",
        "description": "The response contains the full secret. This is the ONLY time it is ever\nshown: only its SHA-256 is stored, so it cannot be retrieved again, only\nrotated.\n\n`key_type` defaults to `full` when omitted, which is exactly what every\nkey did before this endpoint grew types. The dashboard sends `ingest`\nexplicitly, because a key destined for a log-forwarder config should not\nalso be able to delete monitors.",
        "operationId": "create_api_key",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateApiKeyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Newly minted API key; the secret is only returned once",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyWithSecretResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid name, scopes or expiry, or key cap reached"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/account/api_key/{api_key_id}": {
      "delete": {
        "tags": [
          "API Keys"
        ],
        "summary": "Revoke an API key.",
        "description": "The route and verb are unchanged, so the dashboard's existing delete\nbutton keeps working, but the row is now kept and stamped `revoked_at`\ninstead of being deleted. Revocation takes effect immediately: both the\ncustomer API and the ingest authorizers check `revoked_at` on every\nrequest. Keeping the row preserves the audit history of a credential that\nmay have been used to change things.\n\nRevoked keys disappear from `GET /account/api_key`, which is exactly what\na delete looked like before.\n\nDeliberately idempotent: an unknown or already-revoked id still returns\n200. The M2M equivalent 404s on an unknown id, but this endpoint has\nalways returned 200 for one (the DELETE simply matched no rows), and a\ncaller that has been relying on that must not start seeing errors.",
        "operationId": "delete_api_key",
        "parameters": [
          {
            "name": "api_key_id",
            "in": "path",
            "description": "API key identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "API key revoked (or was already)"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/account/api_key/{api_key_id}/rotate": {
      "post": {
        "tags": [
          "API Keys"
        ],
        "summary": "Rotate an API key: mint a replacement and revoke the predecessor, in one\ntransaction.",
        "description": "Because the secret is hashed at rest there is no \"reveal it again\", so\nrotation is how a customer recovers from a lost or leaked key. The new key\ninherits the old one's name, type, scopes, and expiry, so a rotated\ncredential drops straight into the same config slot.\n\nThe old secret stops working the moment this returns; there is no grace\nperiod. A caller that needs overlap should instead create a second key,\ndeploy it, then revoke the first.",
        "operationId": "rotate_api_key",
        "parameters": [
          {
            "name": "api_key_id",
            "in": "path",
            "description": "API key identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "New key; the secret is only returned once",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyWithSecretResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "404": {
            "description": "API key not found or already revoked"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/account/audit_log": {
      "get": {
        "tags": [
          "Audit Log"
        ],
        "summary": "Customer-facing audit log: every mutating API request on the account with\nits actor (user session, M2M client, API key, or impersonating staff),\nnewest first. Reads are capped to the last 90 days. Super admin, admin,\nor auditor role required, since the log exposes other members' actions\nand request IPs; audit read is the whole point of the auditor role\n(Datadog's Audit Trail Read is the precedent).",
        "operationId": "list_audit_log",
        "parameters": [
          {
            "name": "actor_user_id",
            "in": "query",
            "description": "Only entries performed by this user.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "actor_api_key_id",
            "in": "query",
            "description": "Only entries performed by this API key.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "actor_type",
            "in": "query",
            "description": "Only entries with this actor type.",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/CustomerAuditActorType"
            }
          },
          {
            "name": "action",
            "in": "query",
            "description": "Action name, matched exactly or as a dot-prefix: `http.job` also\nmatches `http.job.regions`, but never `http.jobs`.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "target_kind",
            "in": "query",
            "description": "Only entries targeting this resource kind (first path segment).",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "target_id",
            "in": "query",
            "description": "Only entries targeting this resource id.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "since",
            "in": "query",
            "description": "RFC3339; clamped to the read window.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "until",
            "in": "query",
            "description": "RFC3339; inclusive upper bound.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Row cap, clamped to 1..=1000 (default 100).",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Audit log entries (last 90 days)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerAuditLogListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "403": {
            "description": "Caller lacks a role able to read the audit log (super admin, admin, or auditor)"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/account/email_status": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Returns the authenticated user's email-verification + MFA state from Stytch.",
        "operationId": "email_status",
        "responses": {
          "200": {
            "description": "Email verification state",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmailStatus"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/account/m2m_client/": {
      "get": {
        "tags": [
          "M2M API Clients"
        ],
        "summary": "List the account's active M2M API clients. Secrets are never included;\nthey are only shown at create/rotate time.",
        "operationId": "list_m2m_clients",
        "responses": {
          "200": {
            "description": "Active M2M clients",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/M2MClientListResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "post": {
        "tags": [
          "M2M API Clients"
        ],
        "summary": "Create an M2M API client. The response contains the full client secret.\nThis is the ONLY time it is ever shown; it is not stored anywhere.",
        "operationId": "create_m2m_client",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateM2MClientRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Client created; the secret is only returned once",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/M2MClientWithSecretResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid name or scopes, or client cap reached"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "403": {
            "description": "Caller lacks the owner or admin role"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/account/m2m_client/{m2m_client_id}": {
      "delete": {
        "tags": [
          "M2M API Clients"
        ],
        "summary": "Revoke an M2M API client. The local row is revoked FIRST (that is what\ncuts access, because the auth middleware rejects tokens for revoked rows\nimmediately), then the Stytch client is deleted best-effort. A Stytch\ncleanup failure is logged at ERROR (routed to the internal error\nnotifier) but does not fail the request: access is already cut.",
        "operationId": "delete_m2m_client",
        "parameters": [
          {
            "name": "m2m_client_id",
            "in": "path",
            "description": "M2M client identifier (local id, not the Stytch client_id)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Client revoked"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "403": {
            "description": "Caller lacks the owner or admin role"
          },
          "404": {
            "description": "Client not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/account/m2m_client/{m2m_client_id}/rotate_secret": {
      "post": {
        "tags": [
          "M2M API Clients"
        ],
        "summary": "Rotate an M2M client's secret. Runs Stytch's start + complete in one\ncall: the old secret stops validating immediately and the new one is\nreturned exactly once. If completing fails after start, the rotation is\ncancelled best-effort so the old secret keeps working and the client can\nretry.",
        "operationId": "rotate_m2m_client_secret",
        "parameters": [
          {
            "name": "m2m_client_id",
            "in": "path",
            "description": "M2M client identifier (local id, not the Stytch client_id)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "New secret; only returned once",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/M2MClientWithSecretResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "403": {
            "description": "Caller lacks the owner or admin role"
          },
          "404": {
            "description": "Client not found or revoked"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/account/scim/connection": {
      "get": {
        "tags": [
          "SCIM"
        ],
        "summary": "Get the account's SCIM connection. Never carries the bearer token, only\nits last four characters.",
        "operationId": "get_scim_connection",
        "responses": {
          "200": {
            "description": "The account's SCIM connection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScimConnectionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "403": {
            "description": "Caller is not a super admin, or the plan does not include SCIM"
          },
          "404": {
            "description": "No SCIM connection configured"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "post": {
        "tags": [
          "SCIM"
        ],
        "summary": "Create the account's SCIM connection. The response carries the SCIM base\nURL and the bearer token; the token is shown ONCE and is never stored or\nretrievable again, only rotated.",
        "operationId": "create_scim_connection",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateScimConnectionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Connection created; the bearer token is only returned once",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScimConnectionWithTokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid display name"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "403": {
            "description": "Caller is not a super admin, or the plan does not include SCIM"
          },
          "409": {
            "description": "A SCIM connection already exists for this account"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "SCIM"
        ],
        "summary": "Delete the account's SCIM connection. Stytch goes first here (unlike the\nSSO delete): while the Stytch connection exists the IdP can still push\ndirectory changes, and killing that is the point of the operation. The\nlocal row is removed either way so the dashboard reflects reality.",
        "operationId": "delete_scim_connection",
        "responses": {
          "200": {
            "description": "Connection deleted"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "403": {
            "description": "Caller is not a super admin, or the plan does not include SCIM"
          },
          "404": {
            "description": "No SCIM connection configured"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/account/scim/connection/rotate_token": {
      "post": {
        "tags": [
          "SCIM"
        ],
        "summary": "Rotate the SCIM bearer token. Runs Stytch's start + complete in one call\n(same shape as the M2M secret rotation): the old token stops working\nimmediately and the new one is returned exactly once. If completing fails\nafter start, the rotation is cancelled best-effort so the IdP keeps\nsyncing with its current token.",
        "operationId": "rotate_scim_token",
        "responses": {
          "200": {
            "description": "New bearer token; only returned once",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScimConnectionWithTokenResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "403": {
            "description": "Caller is not a super admin, or the plan does not include SCIM"
          },
          "404": {
            "description": "No SCIM connection configured"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/account/security/methods": {
      "get": {
        "tags": [
          "Security"
        ],
        "summary": "Get the authenticated member's available sign-in methods.",
        "operationId": "get_security_methods",
        "responses": {
          "200": {
            "description": "Sign-in methods overview",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecurityMethodsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "403": {
            "description": "Endpoint requires a user session"
          },
          "500": {
            "description": "Internal server error"
          },
          "502": {
            "description": "Stytch API call failed"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/account/security/oauth/{provider}": {
      "delete": {
        "tags": [
          "Security"
        ],
        "summary": "Disconnect an OAuth provider from the authenticated member.",
        "description": "`github` returns 404 until Branch C lands the GitHub OAuth integration.",
        "operationId": "disconnect_oauth_provider",
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "description": "OAuth provider id (currently \"google\")",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Provider disconnected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecuritySimpleResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "403": {
            "description": "Endpoint requires a user session"
          },
          "404": {
            "description": "Provider not connected, or not supported yet"
          },
          "500": {
            "description": "Internal server error"
          },
          "502": {
            "description": "Stytch API call failed"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/account/security/passkeys/register/complete": {
      "post": {
        "tags": [
          "Security"
        ],
        "summary": "Complete a passkey registration.",
        "operationId": "passkey_register_complete",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PasskeyRegisterCompleteRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Passkey registered",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PasskeyRegisterCompleteResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "403": {
            "description": "Endpoint requires a user session"
          },
          "500": {
            "description": "Internal server error"
          },
          "502": {
            "description": "Stytch API call failed"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/account/security/passkeys/register/start": {
      "post": {
        "tags": [
          "Security"
        ],
        "summary": "Begin a passkey registration. Returns the WebAuthn creation-options blob.",
        "operationId": "passkey_register_start",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PasskeyRegisterStartRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "WebAuthn creation options",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PasskeyRegisterStartResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "403": {
            "description": "Endpoint requires a user session"
          },
          "500": {
            "description": "Internal server error"
          },
          "502": {
            "description": "Stytch API call failed"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/account/security/passkeys/{id}": {
      "delete": {
        "tags": [
          "Security"
        ],
        "summary": "Delete a passkey by id.",
        "operationId": "passkey_delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WebAuthn registration id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Passkey removed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecuritySimpleResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "403": {
            "description": "Endpoint requires a user session"
          },
          "500": {
            "description": "Internal server error"
          },
          "502": {
            "description": "Stytch API call failed"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/account/security/password": {
      "delete": {
        "tags": [
          "Security"
        ],
        "summary": "Remove the member's password. Magic-link auth is always available, so the\naccount never becomes locked out from this. We still verify the\nauthenticated session before proceeding.",
        "operationId": "delete_password",
        "responses": {
          "200": {
            "description": "Password removed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecuritySimpleResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "403": {
            "description": "Endpoint requires a user session"
          },
          "500": {
            "description": "Internal server error"
          },
          "502": {
            "description": "Stytch API call failed"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/account/security/password/change": {
      "post": {
        "tags": [
          "Security"
        ],
        "summary": "Change a password. Verifies the current password before applying the new one.",
        "operationId": "change_password",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangePasswordRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Password changed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecuritySimpleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid new password"
          },
          "401": {
            "description": "Current password is incorrect"
          },
          "403": {
            "description": "Endpoint requires a user session"
          },
          "500": {
            "description": "Internal server error"
          },
          "502": {
            "description": "Stytch API call failed"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/account/security/password/set": {
      "post": {
        "tags": [
          "Security"
        ],
        "summary": "Set a password on an account that doesn't have one yet (magic-link / OAuth signups).",
        "operationId": "set_password",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetPasswordRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Password set",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecuritySimpleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid password"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "403": {
            "description": "Endpoint requires a user session"
          },
          "500": {
            "description": "Internal server error"
          },
          "502": {
            "description": "Stytch API call failed"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/account/security/totp": {
      "delete": {
        "tags": [
          "Security"
        ],
        "summary": "Disable TOTP for the authenticated member.",
        "operationId": "totp_delete",
        "responses": {
          "200": {
            "description": "TOTP disabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecuritySimpleResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "403": {
            "description": "Endpoint requires a user session"
          },
          "500": {
            "description": "Internal server error"
          },
          "502": {
            "description": "Stytch API call failed"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/account/security/totp/complete": {
      "post": {
        "tags": [
          "Security"
        ],
        "summary": "Verify a TOTP code and complete enrollment.",
        "operationId": "totp_complete",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TotpCompleteRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "TOTP enrollment complete",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecuritySimpleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid TOTP code"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "403": {
            "description": "Endpoint requires a user session"
          },
          "500": {
            "description": "Internal server error"
          },
          "502": {
            "description": "Stytch API call failed"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/account/security/totp/start": {
      "post": {
        "tags": [
          "Security"
        ],
        "summary": "Begin TOTP enrollment. Returns the otpauth:// URL, secret, and recovery codes.",
        "operationId": "totp_start",
        "responses": {
          "200": {
            "description": "TOTP enrollment payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TotpStartResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "403": {
            "description": "Endpoint requires a user session"
          },
          "500": {
            "description": "Internal server error"
          },
          "502": {
            "description": "Stytch API call failed"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/account/sso/saml/connection": {
      "get": {
        "tags": [
          "SSO"
        ],
        "summary": "Get the account's SAML SSO connection, enriched with the live Stytch\nobject so the UI can display the ACS URL / audience URI the customer\nneeds at their IdP and the currently configured IdP values.",
        "description": "If Stytch is unreachable or no longer knows the connection, the local row\nis returned on its own rather than failing the page.",
        "operationId": "get_saml_connection",
        "responses": {
          "200": {
            "description": "The account's SSO connection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SamlConnectionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "403": {
            "description": "Caller is not a super admin, or the plan does not include SSO"
          },
          "404": {
            "description": "No SSO connection configured"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "put": {
        "tags": [
          "SSO"
        ],
        "summary": "Update the account's SAML SSO connection. The IdP side can be configured\neither from a metadata URL (Stytch fetches entity id, SSO URL, and\ncertificate) or field by field; supplying both applies the metadata URL\nfirst and then the explicit fields.",
        "operationId": "update_saml_connection",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSamlConnectionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Connection updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SamlConnectionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid field values"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "403": {
            "description": "Caller is not a super admin, or the plan does not include SSO"
          },
          "404": {
            "description": "No SSO connection configured"
          },
          "409": {
            "description": "The email domain is claimed by another connection"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "post": {
        "tags": [
          "SSO"
        ],
        "summary": "Create the account's SAML SSO connection. The response carries the\nservice-provider values (ACS URL, audience URI) the customer configures\nat their IdP; the connection stays `pending` until the IdP side is filled\nin via the update endpoint.",
        "operationId": "create_saml_connection",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSamlConnectionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Connection created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SamlConnectionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid display name or email domain"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "403": {
            "description": "Caller is not a super admin, or the plan does not include SSO"
          },
          "409": {
            "description": "A connection already exists for this account"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "SSO"
        ],
        "summary": "Delete the account's SAML SSO connection. The local row goes first so the\npublic SSO-start lookup stops resolving immediately even if the Stytch\ncall fails; the Stytch delete is then best-effort.",
        "operationId": "delete_saml_connection",
        "responses": {
          "200": {
            "description": "Connection deleted"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "403": {
            "description": "Caller is not a super admin, or the plan does not include SSO"
          },
          "404": {
            "description": "No SSO connection configured"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/account/user_invites/{invite_id}/resend": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Re-send the invite email for a pending invite.",
        "operationId": "resend_user_invite",
        "parameters": [
          {
            "name": "invite_id",
            "in": "path",
            "description": "Pending invite id (user_invites.id)",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Invite email re-sent"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "403": {
            "description": "Caller lacks the owner or admin role, or email not verified"
          },
          "404": {
            "description": "No pending invite with this id on the account"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/account/users/{user_id}/role": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Set a team member's role.",
        "operationId": "update_user_role",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "description": "Local user id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateUserRoleRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Role updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateUserRoleResponse"
                }
              }
            }
          },
          "400": {
            "description": "Unknown role, or the target is the primary account user"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "403": {
            "description": "Caller is not a super admin"
          },
          "404": {
            "description": "User not found in this account"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/auth/email/resend-verification": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Re-send the email verification magic link to the authenticated user.",
        "operationId": "resend_verification",
        "responses": {
          "200": {
            "description": "Verification email queued"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/auth/magic-link/authenticate": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Complete a magic link authentication. If the email belongs to an existing\naccount, signs the user in. Otherwise provisions a new SiteQwality account,\nStytch organization, Stripe customer, default notification group, and\nwelcome email. This is the same shape as `/signup` minus the password.",
        "operationId": "authenticate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MagicLinkAuthenticateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Authenticated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid or expired magic link"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/auth/magic-link/send": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Send a discovery magic link to the given email. Works for both existing\nusers (signs them in) and new users (provisioning happens on click via\n`/auth/magic-link/authenticate`).",
        "operationId": "send",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MagicLinkSendRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Magic link sent (or claimed sent, so account existence is not leaked)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MagicLinkSendResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid email"
          },
          "429": {
            "description": "Rate limited"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/auth/methods": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "Look up which authentication methods exist for an email. The response shape is\nconstant-time-ish: we always return 200 with the same body shape regardless of\nwhether the email exists, to slow account enumeration.",
        "operationId": "methods",
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Auth methods (always 200 even if email unknown)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthMethodsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid email"
          },
          "429": {
            "description": "Rate limited"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/auth/sso/start": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Resolve an email address to its account's SSO start URL, if that domain\nhas an active SAML connection. Always 200; `redirect_url` is null when\nthere is nothing to start.",
        "operationId": "start",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SsoStartRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Redirect URL, or null when the domain has no active SSO connection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SsoStartResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid email"
          },
          "429": {
            "description": "Rate limited"
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/browser_check/": {
      "get": {
        "tags": [
          "Browser Monitors"
        ],
        "summary": "List browser monitors for the authenticated account.",
        "operationId": "list_browser_checks",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Page size (max 50)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Page offset",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Page of browser monitors"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Browser Monitors"
        ],
        "summary": "Create a synthetic browser monitor.",
        "operationId": "create_browser_check",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBrowserCheckRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Browser monitor created"
          },
          "400": {
            "description": "Invalid request body"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "402": {
            "description": "Monitor limit reached for the account's plan"
          },
          "403": {
            "description": "Browser check limit reached for this account"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/browser_check/{check_id}": {
      "get": {
        "tags": [
          "Browser Monitors"
        ],
        "summary": "Get a browser monitor by ID.",
        "operationId": "get_browser_check",
        "parameters": [
          {
            "name": "check_id",
            "in": "path",
            "description": "Browser monitor identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Browser monitor"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "404": {
            "description": "Browser monitor not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Browser Monitors"
        ],
        "summary": "Update a browser monitor.",
        "operationId": "update_browser_check",
        "parameters": [
          {
            "name": "check_id",
            "in": "path",
            "description": "Browser monitor identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBrowserCheckRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Browser monitor updated"
          },
          "400": {
            "description": "Invalid request body"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "403": {
            "description": "Browser check limit reached for this account"
          },
          "404": {
            "description": "Browser monitor not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Browser Monitors"
        ],
        "summary": "Delete a browser monitor.",
        "operationId": "delete_browser_check",
        "parameters": [
          {
            "name": "check_id",
            "in": "path",
            "description": "Browser monitor identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Browser monitor deleted"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "404": {
            "description": "Browser monitor not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/browser_check/{check_id}/results": {
      "get": {
        "tags": [
          "Browser Monitors"
        ],
        "summary": "List recent run results for a browser monitor.",
        "operationId": "list_browser_check_results",
        "parameters": [
          {
            "name": "check_id",
            "in": "path",
            "description": "Browser monitor identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Page size",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Page offset",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Browser run results"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/browser_check/{check_id}/results/{result_id}/artifact_url": {
      "get": {
        "tags": [
          "Browser Monitors"
        ],
        "summary": "Generate a pre-signed S3 URL for a browser run artifact (HAR or video).",
        "operationId": "get_browser_check_artifact_url",
        "parameters": [
          {
            "name": "check_id",
            "in": "path",
            "description": "Browser monitor identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "result_id",
            "in": "path",
            "description": "Browser run result identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "artifact_type",
            "in": "query",
            "description": "One of: har, video, screenshot",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "screenshot_index",
            "in": "query",
            "description": "Screenshot index when artifact_type is screenshot",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Pre-signed URL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArtifactUrlResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "404": {
            "description": "Result or artifact not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/browser_check/{check_id}/run": {
      "post": {
        "tags": [
          "Browser Monitors"
        ],
        "summary": "Trigger an immediate run of a browser monitor across its configured regions.",
        "operationId": "run_browser_check_now",
        "parameters": [
          {
            "name": "check_id",
            "in": "path",
            "description": "Browser monitor identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Run started",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunNowResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "404": {
            "description": "Browser monitor not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/browser_check/{check_id}/vitals": {
      "get": {
        "tags": [
          "Browser Monitors"
        ],
        "summary": "Get trending Web Vitals for a browser monitor.",
        "operationId": "get_browser_check_vitals",
        "parameters": [
          {
            "name": "check_id",
            "in": "path",
            "description": "Browser monitor identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "region",
            "in": "query",
            "description": "Filter by region",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hours",
            "in": "query",
            "description": "Lookback window in hours (default 24)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Time-bucketed Web Vitals trends"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "404": {
            "description": "Browser monitor not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/cron/job": {
      "post": {
        "tags": [
          "Heartbeat Monitors"
        ],
        "summary": "Create a heartbeat (cron) monitor.",
        "operationId": "create_cron_job",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCronJobRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Heartbeat monitor created"
          },
          "400": {
            "description": "Invalid request body"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "402": {
            "description": "Monitor limit reached for the account's plan"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/cron/job/{cron_job_id}": {
      "get": {
        "tags": [
          "Heartbeat Monitors"
        ],
        "summary": "Get a heartbeat (cron) monitor by ID.",
        "operationId": "get_cron_job",
        "parameters": [
          {
            "name": "cron_job_id",
            "in": "path",
            "description": "Heartbeat monitor identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Heartbeat monitor"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "404": {
            "description": "Heartbeat monitor not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Heartbeat Monitors"
        ],
        "summary": "Update a heartbeat (cron) monitor.",
        "operationId": "update_cron_job",
        "parameters": [
          {
            "name": "cron_job_id",
            "in": "path",
            "description": "Heartbeat monitor identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCronJobRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Heartbeat monitor updated"
          },
          "400": {
            "description": "Invalid request body"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "402": {
            "description": "Heartbeat monitor limit reached (reactivating a paused monitor)"
          },
          "404": {
            "description": "Heartbeat monitor not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Heartbeat Monitors"
        ],
        "summary": "Delete a heartbeat (cron) monitor.",
        "operationId": "delete_cron_job",
        "parameters": [
          {
            "name": "cron_job_id",
            "in": "path",
            "description": "Heartbeat monitor identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Heartbeat monitor deleted"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "404": {
            "description": "Heartbeat monitor not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/cron/job/{job_id}/events": {
      "get": {
        "tags": [
          "Heartbeat Monitors"
        ],
        "summary": "List status-transition events for a heartbeat (cron) monitor.",
        "operationId": "list_cron_job_events",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "description": "Heartbeat monitor identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Page size (max 500)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Page offset",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Page of state-transition events"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/cron/job/{job_id}/recent": {
      "get": {
        "tags": [
          "Heartbeat Monitors"
        ],
        "summary": "List recently received heartbeats for a cron monitor.",
        "operationId": "list_recent_received",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "description": "Heartbeat monitor identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recently received heartbeats"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/cron/job/{job_id}/uptime_percentage": {
      "get": {
        "tags": [
          "Heartbeat Monitors"
        ],
        "summary": "Get the uptime percentage for a heartbeat (cron) monitor.",
        "operationId": "get_cron_uptime_percentage",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "description": "Heartbeat monitor identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Page size",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Page offset",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Uptime percentage",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CronJobUptimePercentage"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "404": {
            "description": "Heartbeat monitor not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/cron/jobs": {
      "get": {
        "tags": [
          "Heartbeat Monitors"
        ],
        "summary": "List heartbeat monitors for the authenticated account.",
        "operationId": "list_cron_jobs",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Page size",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Page offset",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by status",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "Filter by state",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "text",
            "in": "query",
            "description": "Free-text search filter",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tags",
            "in": "query",
            "description": "Filter by tags",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Page of heartbeat monitors"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/dashboard/": {
      "get": {
        "tags": [
          "Dashboards"
        ],
        "summary": "List dashboards for the account.",
        "operationId": "list_dashboards",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Page size",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Page offset",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Page of dashboards"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Dashboards"
        ],
        "summary": "Create a dashboard.",
        "operationId": "create_dashboard",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDashboardRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Dashboard created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dashboard"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "403": {
            "description": "Custom dashboards require a paid plan"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/dashboard/{dashboard_id}": {
      "get": {
        "tags": [
          "Dashboards"
        ],
        "summary": "Get a dashboard by ID with widgets.",
        "operationId": "get_dashboard",
        "parameters": [
          {
            "name": "dashboard_id",
            "in": "path",
            "description": "Dashboard identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dashboard with widgets",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dashboard"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "404": {
            "description": "Dashboard not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Dashboards"
        ],
        "summary": "Update a dashboard's metadata.",
        "operationId": "update_dashboard",
        "parameters": [
          {
            "name": "dashboard_id",
            "in": "path",
            "description": "Dashboard identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDashboardRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Dashboard updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dashboard"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "404": {
            "description": "Dashboard not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Dashboards"
        ],
        "summary": "Delete a dashboard.",
        "operationId": "delete_dashboard",
        "parameters": [
          {
            "name": "dashboard_id",
            "in": "path",
            "description": "Dashboard identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dashboard deleted"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "404": {
            "description": "Dashboard not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/dashboard/{dashboard_id}/layout": {
      "put": {
        "tags": [
          "Dashboards"
        ],
        "summary": "Batch-update widget layout positions on a dashboard.",
        "operationId": "batch_update_layout",
        "parameters": [
          {
            "name": "dashboard_id",
            "in": "path",
            "description": "Dashboard identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/WidgetLayoutItem"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Layouts updated"
          },
          "400": {
            "description": "Too many widgets in request"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/dashboard/{dashboard_id}/widget/": {
      "post": {
        "tags": [
          "Dashboards"
        ],
        "summary": "Add a widget to a dashboard.",
        "operationId": "create_widget",
        "parameters": [
          {
            "name": "dashboard_id",
            "in": "path",
            "description": "Dashboard identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWidgetRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Widget created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardWidget"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body or widget limit reached"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "403": {
            "description": "Custom dashboards require a paid plan"
          },
          "404": {
            "description": "Dashboard not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/dashboard/{dashboard_id}/widget/{widget_id}": {
      "put": {
        "tags": [
          "Dashboards"
        ],
        "summary": "Update a widget on a dashboard.",
        "operationId": "update_widget",
        "parameters": [
          {
            "name": "dashboard_id",
            "in": "path",
            "description": "Dashboard identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "widget_id",
            "in": "path",
            "description": "Widget identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWidgetRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Widget updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardWidget"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "404": {
            "description": "Widget not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Dashboards"
        ],
        "summary": "Delete a widget from a dashboard.",
        "operationId": "delete_widget",
        "parameters": [
          {
            "name": "dashboard_id",
            "in": "path",
            "description": "Dashboard identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "widget_id",
            "in": "path",
            "description": "Widget identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Widget deleted"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "404": {
            "description": "Widget not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/dns/job/{dns_job_id}": {
      "get": {
        "tags": [
          "DNS Monitors"
        ],
        "summary": "Get a DNS monitor.",
        "operationId": "get_dns_job",
        "parameters": [
          {
            "name": "dns_job_id",
            "in": "path",
            "description": "DNS monitor identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "DNS monitor retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DnsJob"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "404": {
            "description": "DNS monitor not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/dns/job/{dns_job_id}/recent": {
      "get": {
        "tags": [
          "DNS Monitors"
        ],
        "summary": "Get the most recent DNS check result.",
        "operationId": "recent_dns_job",
        "parameters": [
          {
            "name": "dns_job_id",
            "in": "path",
            "description": "DNS monitor identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Latest DNS check result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DnsJobResult"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "404": {
            "description": "No DNS results found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/escalation_policy/": {
      "get": {
        "tags": [
          "Escalation Policies"
        ],
        "summary": "List escalation policies for the account.",
        "operationId": "list_escalation_policies",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Page size",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Page offset",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Page of escalation policies"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Escalation Policies"
        ],
        "summary": "Create an escalation policy.",
        "operationId": "create_escalation_policy",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEscalationPolicyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Escalation policy created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EscalationPolicyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/escalation_policy/{policy_id}": {
      "get": {
        "tags": [
          "Escalation Policies"
        ],
        "summary": "Get an escalation policy by ID.",
        "operationId": "get_escalation_policy",
        "parameters": [
          {
            "name": "policy_id",
            "in": "path",
            "description": "Escalation policy identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Escalation policy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EscalationPolicyResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "404": {
            "description": "Policy not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Escalation Policies"
        ],
        "summary": "Update an escalation policy.",
        "operationId": "update_escalation_policy",
        "parameters": [
          {
            "name": "policy_id",
            "in": "path",
            "description": "Escalation policy identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateEscalationPolicyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Escalation policy updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EscalationPolicyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "404": {
            "description": "Policy not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Escalation Policies"
        ],
        "summary": "Delete an escalation policy.",
        "operationId": "delete_escalation_policy",
        "parameters": [
          {
            "name": "policy_id",
            "in": "path",
            "description": "Escalation policy identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Policy deleted"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "404": {
            "description": "Policy not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/escalation_policy/{policy_id}/level/": {
      "get": {
        "tags": [
          "Escalation Policies"
        ],
        "summary": "List the levels of an escalation policy in order.",
        "operationId": "list_escalation_policy_levels",
        "parameters": [
          {
            "name": "policy_id",
            "in": "path",
            "description": "Escalation policy identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ordered list of levels"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Escalation Policies"
        ],
        "summary": "Add a level to an escalation policy.",
        "operationId": "create_escalation_policy_level",
        "parameters": [
          {
            "name": "policy_id",
            "in": "path",
            "description": "Escalation policy identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEscalationPolicyLevelRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Level created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EscalationPolicyLevelResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "402": {
            "description": "Incident responder limit reached"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/escalation_policy/{policy_id}/level/reorder": {
      "put": {
        "tags": [
          "Escalation Policies"
        ],
        "summary": "Reorder the levels of an escalation policy.",
        "operationId": "reorder_escalation_policy_levels",
        "parameters": [
          {
            "name": "policy_id",
            "in": "path",
            "description": "Escalation policy identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReorderEscalationPolicyLevelsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Levels reordered"
          },
          "400": {
            "description": "Invalid request body"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/escalation_policy/{policy_id}/level/{level_id}": {
      "delete": {
        "tags": [
          "Escalation Policies"
        ],
        "summary": "Delete a level from an escalation policy.",
        "operationId": "delete_escalation_policy_level",
        "parameters": [
          {
            "name": "policy_id",
            "in": "path",
            "description": "Escalation policy identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "level_id",
            "in": "path",
            "description": "Level identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Level deleted"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "404": {
            "description": "Level not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/http/job": {
      "post": {
        "tags": [
          "HTTP Monitors"
        ],
        "summary": "Create an HTTP monitor.",
        "description": "Creates a new HTTP check that runs on the specified schedule. Optionally\nalso provisions paired TLS, DNS, and page-speed monitors for the same URL.",
        "operationId": "create_http_job",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateHttpJobRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "HTTP monitor created"
          },
          "400": {
            "description": "Invalid request body or feature not available on plan"
          },
          "401": {
            "description": "Missing or invalid authentication"
          },
          "402": {
            "description": "Monitor limit reached for the account's plan"
          },
          "403": {
            "description": "Feature requires a paid plan"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/http/job/result/{job_result_id}/body": {
      "get": {
        "tags": [
          "HTTP Monitors"
        ],
        "summary": "Pre-signed URL for the full response body of a failed HTTP check.",
        "description": "Response bodies are captured on failure only and kept for a per-plan\nwindow (5 days on the free plan, 30 with any paid plan, longer on request).",
        "operationId": "get_check_body_url",
        "parameters": [
          {
            "name": "job_result_id",
            "in": "path",
            "description": "HTTP check result identifier",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Pre-signed body download URL",
[...]
